.error {
	border-color: red;
	box-shadow: 0 0 7px 1px red;
	border-radius: 7px;
}
.error-message {
	color: red;
}
.form{
    display: flex;
   flex-direction: column;
   align-items: center;
    order:1;
}
.form-decor{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    width: auto;
    border:3px solid black;
    margin:0;
}
